<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @over_category.name %>
</p>

<%= link_to 'Edit', edit_over_category_path(@over_category) %> |
<%= link_to 'Back', over_categories_path %>
