<div class="flex justify-center" >
    <h1 class="mt-4 ml-4 text-xl" ><%= t("Edit Sub-Category") %></h1>
</div>

<%= render 'form', category_group: @category_group, id: @category_group.over_category_id  %>
