
<h1 class="mt-4 ml-4 text-xl" >New Sub-Category </h1>

<%= render 'form', category_group: @category_group, id: params[:id] %>

<%= link_to 'Back', request.referer, class:"text-center flex w-20 justify-center mx-2 text-sm bg-blue-500 hover:bg-blue-700 text-white py-1 px-2 rounded focus:outline-none focus:shadow-outline" %>
