<div class="w-full text-gray-700 md:text-center text-2xl font-semibold">
    Categories (<%= @categories.length %>)</h2>
</div> 

<ol>
    <% @categories.each do |category| %>
        <li>
            <%= link_to category_products_path(category) do %>
                <%= category.title %>
            <% end %>
        </li>
    <% end %>
</ol>

