<div class="">#{@product.name.capitalize}
  <div class="container">
    <div class="card">
      <div class="card-body">
        p = @product.description
        p <small>USD</small> #{@product.price}
      </div>
    </div>
  </div>
</div>
